/* -------------------------
	Header
------------------------- */
.site-header {
	margin: 2rem 0;
}

	.site-header__logo {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

		.site-header__title {
			font-size: 5rem;
			font-weight: 200;
			margin: 0;
		}

.site-navigation {
	background-color: #f14548;
	margin: 1rem 0 2rem;
}

	.site-menu {
		display: table;
		margin: 0;
		width: 100%;
	}

		.site-menu li {
			position: relative;
			display: table-cell;
			list-style: none;
			text-align: center;
			margin: 0;
			transition: all 0.5s;
		}

			.site-menu li a {
				display: block;
				padding: 1.5rem 0;
				margin: 0;
				font-size: 1.25rem;
				font-weight: 300;
				color: white;
			}

		.site-menu li:hover,
		.site-menu li.current_page_item {
			background-color: #ef2d31;
		}

			.site-menu li > .sub-menu {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				left: 0;
				right: 0;
				top: 100%;
				z-index: 9999;
				background-color: #F14548;
				padding: 0;
				margin: 0;
				transition: all 0.5s;
			}

				.site-menu li:hover > .sub-menu {
					opacity: 1;
					visibility: visible;
				}

				.sub-menu li {
					display: block;
				}

				.sub-menu li a {
					padding: 1rem 2rem;
				}

.article-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z3;
	padding: 2.5rem 1rem 1rem 5rem;
	padding: 4vh 1rem 1rem 4vw;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;

	opacity: 0.25;

	transition: 250ms;

	&.on-bg {
		opacity: 0.5;
		color: #FFF;
	}

	&.on-white {
		opacity: 0.1;
		color: #222;
	}

	&:hover {
		opacity: 1;
	}
}

	.article-nav__home {
		display: block;
		margin-bottom: 4rem;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.4;
		color: currentColor;
	}

	.article-nav__back,
	.article-nav__to-top {
		display: block;
		padding: 0 0 4rem;
		color: currentColor;
	}

	.article-nav__to-top {
		opacity: 0;
		visibility: hidden;

		transition: 250ms;

		&:hover {
			cursor: pointer;
			color: #2ba5ca;
		}

		&.is-active {
			opacity: 1;
			visibility: visible;
		}
	}

.search-form {
	margin: 0;
}

		.search-form .search-field {
			width: 100%;
			max-width: 300px;
			margin: 1.25rem;
			height: auto;
			font-size: 1.125rem;
			border: none;
			box-shadow: none;
			-webkit-box-shadow: none;
			background: #F0F0F0;
			transition: all 0.5s;
		}

		.search-form .screen-reader-text,
		.search-form .search-submit {
			display: none;
		}
