/* -------------------------
	Main Styles
	Table of Contents
		- Global
		- Header
		- Main content
			- Post
			- Comments
		- Footer
------------------------- */
/* -------------------------
	Global
------------------------- */
.title {
  font-size: 4rem;
  margin-bottom: 28px;
}

iframe[src*="embed.spotify.com"] {
  width: 100%;
  height: 80px;
  margin: 7px 0;
}

.fb-comments,
.fb-comments span,
.fb-comments iframe[style] {
  width: 100% !important;
}

audio {
  width: 100%;
}

video {
  max-width: 100%;
  height: auto;
}

audio,
video {
  margin-bottom: 42px;
}

/* -------------------------
	Header
------------------------- */
.site-header {
  margin: 2rem 0;
}

.site-header__logo {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.site-header__title {
  font-size: 5rem;
  font-weight: 200;
  margin: 0;
}

.site-navigation {
  background-color: #f14548;
  margin: 14px 0 28px;
}

.site-menu {
  display: table;
  margin: 0;
  width: 100%;
}

.site-menu li {
  position: relative;
  display: table-cell;
  list-style: none;
  text-align: center;
  margin: 0;
  transition: all 0.5s;
}

.site-menu li a {
  display: block;
  padding: 21px 0;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 300;
  color: white;
}

.site-menu li:hover,
.site-menu li.current_page_item {
  background-color: #ef2d31;
}

.site-menu li > .sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 9999;
  background-color: #F14548;
  padding: 0;
  margin: 0;
  transition: all 0.5s;
}

.site-menu li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}

.sub-menu li {
  display: block;
}

.sub-menu li a {
  padding: 1rem 2rem;
}

.article-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2.5rem 1rem 1rem 5rem;
  padding: 4vh 1rem 1rem 4vw;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  opacity: 0.25;
  transition: 250ms;
}

.article-nav:hover {
  opacity: 1;
}

.article-nav__home {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}

.article-nav__back,
.article-nav__to-top {
  display: block;
  padding: 0 0 4rem;
}

.article-nav__to-top {
  opacity: 0;
  visibility: hidden;
  transition: 250ms;
}

.article-nav__to-top:hover {
  cursor: pointer;
  color: #2ba5ca;
}

.article-nav__to-top.is-active {
  opacity: 1;
  visibility: visible;
}

.search-form {
  margin: 0;
}

.search-form .search-field {
  width: 100%;
  max-width: 300px;
  margin: 19px 0 14px;
  height: auto;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: #F0F0F0;
  transition: all 0.5s;
}

.search-form .screen-reader-text,
.search-form .search-submit {
  display: none;
}

/* -------------------------
	Main content
------------------------- */
/* View all */
.explain {
  text-align: center;
}

.explain a {
  display: inline-block;
  border: none;
  background-color: transparent;
  border: 3px solid #333;
  color: #333;
  padding: 14px 21px;
  margin: 14px 0;
}

.explain a:hover {
  background-color: #EAEAEA;
}

/* Frontpage */
.about-sondre {
  position: relative;
  margin: 4rem 0;
  width: 100%;
  padding: 7rem;
  background-image: url("../img/face.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 2rem 0px rgba(0, 0, 0, 0.05);
}

.about-sondre__overlay {
  text-align: center;
}

.about-sondre__tagline {
  font-weight: 100;
  font-size: 4.5rem;
  line-height: 2;
  text-align: center;
  transition: all 0.5s;
}

.about .description {
  -webkit-columns: 2;
  -moz-columns: 2;
  -m-columns: 2;
  columns: 2;
}

/* Description */
.main-description {
  padding: 35px 0 84px;
  text-align: center;
}

.main-description p {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 200;
}

.main-description.small p {
  font-size: 2.5rem;
}

/* Sponsors */
.sponsors h1 {
  text-align: center;
  font-weight: 200;
}

.sponsor-list {
  width: 100%;
}

.sponsor-list li {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 200px;
}

/* Post */
.post {
  margin-bottom: 2rem;
}

.back-to-top:hover {
  cursor: pointer;
}

.post-header {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  margin: 0;
  padding: 2.5rem 0;
}

.post-thumbnail {
  position: relative;
  overflow: hidden;
  margin: 0;
  background-position: center;
  background-size: 100%;
  background-size: cover;
  background-color: #DDD;
}

.posts .post-thumbnail {
  min-height: 12rem;
  min-height: 25vh;
}

.posts--sticky .post-thumbnail {
  min-height: 50vh;
  background-position-y: 15%;
}

.attachment-post-thumbnail {
  width: 100%;
}

.post-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.post-thumbnail:hover .post-link {
  opacity: 1;
  visibility: visible;
}

.post-title {
  display: block;
  width: 100%;
  margin: auto;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}

.posts--sticky .post-title {
  font-size: 2rem;
}

.post-excerpt {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.4;
}

.posts--sticky .post-excerpt {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.post-description p {
  font-weight: 400;
  color: #181818;
}

.post-content blockquote {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 1rem 2rem 1px;
  border-left: 0.25rem solid #DEDEDE;
}

.post-content .embed-youtube {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 21px 0;
}

.post-content .embed-youtube .youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post-meta__date {
  opacity: 0.5;
  font-style: italic;
}

.post-social {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin: 70px auto 84px;
}

.post-social > div {
  width: 100%;
  margin: 7px auto 28px;
}

.mt-share-list-bar-sm {
  margin: auto;
}

.mt-share-list-bar-sm a:hover {
  z-index: 50;
  -webkit-transform: scale(1.075);
}

.mt-share-list-bar-sm a {
  display: inline-block;
  width: auto;
  padding: 0 42px;
  margin-right: 7px;
  text-align: center;
  position: relative;
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale3d(1, 1, 1);
}

.mt-share-list-bar-sm img {
  width: 56px;
  height: auto;
  border: 0px;
}

.mt-google {
  background-color: #dd4b39;
}

.mt-google:hover {
  background-color: #e15f4f;
}

.mt-twitter {
  background-color: #00acee;
}

.mt-twitter:hover {
  background-color: #08bbff;
}

.mt-facebook {
  background-color: #3b5998;
}

.mt-facebook:hover {
  background-color: #4264aa;
}

.post-social .follow {
  display: table;
}

.fb_iframe_widget {
  display: table-cell;
}

.instagram-follow {
  display: table-cell;
  vertical-align: middle;
}

.instagram-follow .instagram {
  display: inline-block;
}

.instagram-follow .fa-instagram {
  margin-right: 7px;
  vertical-align: middle;
  color: #3f729b;
}

.post-navigation {
  float: left;
  display: block;
  width: 100%;
  margin-bottom: 7rem;
}

.post-navigation a {
  display: inline-block;
  opacity: 0.5;
}

.post-navigation a:hover {
  opacity: 1;
}

.post-navigation a[rel="next"] {
  float: left;
}

.post-navigation a[rel="prev"] {
  float: right;
}

.post-navigation .meta-nav {
  font-size: 2rem;
  font-weight: 300;
}

.post-navigation .nav-title {
  padding: 0 1rem;
}

.follow {
  text-align: center;
}

.youtube-audio {
  position: relative;
  padding-top: 1.5625em;
  padding-bottom: 3px;
  height: 0;
  margin-bottom: 1em;
}

.youtube-audio iframe,
.youtube-audio object,
.youtube-audio embed,
.youtube-audio video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.show-youtube {
  font-weight: 600;
}

.show-youtube:hover {
  cursor: pointer;
}

.gallery {
  padding-bottom: 1.5rem;
}

/* Comments */
.comments {
  float: left;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.commentlist {
  width: 100%;
}

.comment-title {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
  margin-bottom: 21px;
  display: inline-block;
}

/* Single comment */
.comment {
  display: inline-block;
  width: 100%;
  margin: 0 0 21px 0;
}

.comment:last-child {
  border: none;
}

.comment-body {
  margin-bottom: 21px;
}

.comment-author {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 14px 14px 0;
  border: none;
  padding: 0 7px 0 0;
}

.comment-author .avatar {
  display: none;
}

.comment-metadata {
  display: none;
  vertical-align: text-bottom;
  font-size: 0.77em;
  font-weight: 300;
  opacity: 0.3;
}

.comment-content {
  font-size: 1.1rem;
  font-weight: 300;
}

.comment-content p {
  margin-bottom: 7px;
}

/* Replies */
.comment .children {
  margin: 0;
  padding: 0;
}

.comment .children li {
  margin: 0;
  padding: 14px 0 14px 35px;
  border-left: 3px solid rgba(128, 128, 128, 0.2);
}

.comment .children li:last-child {
  margin-bottom: 0;
}

.comment .children li .comment-body {
  margin-bottom: 14px;
}

.comment-form {
  margin-top: 21px;
}

.comment-form input,
.comment-form textarea {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 14px;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: #F1F1F1;
  margin-bottom: 0;
  transition: all 0.5s;
}

.comment-form input:focus,
.comment-form textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #EAEAEA;
}

.comment-form input:required,
.comment-form textarea:required {
  border-left: 5px solid rgba(241, 69, 72, 0.75);
  transition: all 0.5s;
}

.comment-form input:required:valid,
.comment-form textarea:required:valid {
  border-left: 0px solid rgba(241, 69, 72, 0.75);
  transition: all 0.5s;
}

.comment-form textarea {
  min-height: 200px;
}

.comment-form input[type="submit"] {
  border: none;
  background-color: transparent;
  border: 3px solid #333;
  color: #333;
  font-family: "Roboto";
  font-weight: bold;
  margin: 28px 0 0;
  padding: 14px 21px;
}

.comment-form input[type="submit"]:hover {
  background-color: #EAEAEA;
}

.comment-form .notifications {
  margin: 14px 0 28px;
}

.notifications p {
  margin: 7px 0;
  opacity: 0.75;
}

.notifications .error {
  color: #ee1a1f;
}

.notifications .success {
  color: #33a423;
}

/* -------------------------
	Footer
------------------------- */
.footer {
  margin: 5rem 0;
}

.footer-links {
  width: 100%;
  max-width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  text-align: center;
}

.footer-links li {
  list-style: none;
  text-align: center;
  margin: auto;
  padding: 14px 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

footer .copy {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  margin: 3rem 0;
}

footer .copy a {
  font-weight: 400;
}

footer li .twitter .fa,
footer li .instagram .fa {
  font-size: 1.25em;
  vertical-align: middle;
  color: #00acee;
  margin-right: 7px;
}

footer li .instagram .fa-instagram {
  color: #3f729b;
}

/* -----------------------------------------
   Media Queries
----------------------------------------- */
/* iPad */
@media only screen and (min-device-width: 48rem) and (max-device-width: 64rem) {
  .about-sondre {
    background-size: 100% auto;
  }
  .site-menu li a {
    font-size: 1rem;
  }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 48rem) {
  .site-header__title {
    font-size: 2.5rem;
  }
  .site-menu li > .sub-menu {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
  .sub-menu li a {
    opacity: 0.5;
  }
  .sub-menu li a::before {
    content: "\21b3";
    padding-right: 0.5rem;
    font-size: 0.85rem;
    vertical-align: text-top;
  }
  .main-description p {
    font-size: 1.5rem;
  }
  .post-header {
    font-size: 3rem;
  }
  .post {
    margin-bottom: 0.5rem;
  }
  .post-thumbnail {
    max-height: 100%;
    margin-bottom: 1rem;
  }
  .posts .post-thumbnail {
    min-height: 30vh;
  }
  .post-link {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .posts--sticky .post-title {
    font-size: 1.5rem;
  }
  .post-excerpt {
    display: none;
  }
  .article-nav {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding: 2rem 0;
    text-align: center;
  }
  .article-nav__back,
  .article-nav__to-top {
    padding: 2rem;
  }
  .article-nav__to-top {
    display: none;
  }
  .footer-links,
  .post-social {
    display: block;
  }
  .footer-links li {
    margin: 2rem auto;
  }
  .about-sondre {
    background-position: top center;
    padding: 4rem 1rem;
  }
  .about-sondre__tagline {
    font-size: 3rem;
    color: white;
  }
  .about .description {
    -webkit-columns: 1;
    -moz-columns: 1;
    -m-columns: 1;
    columns: 1;
  }
  .post-social li {
    display: block;
    margin: 1.5rem auto;
    text-align: center;
  }
  .site-menu {
    margin-top: 1rem;
  }
  .site-menu li {
    display: block;
  }
  .search .search-field {
    max-width: 100%;
    width: 100%;
    padding: 21px;
  }
  .about-sondre {
    background-size: cover;
  }
}
